
body {
  font-family: "General Sans", sans-serif;
  background-image: url(Todo.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
